body { 
	padding-top: 65px;
	margin: 10px;
}

/* nav style */

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: #eee;
    font-weight: bold;
	font-size: 25px;
	margin-left: 40px;
}

.navbar-brand:hover{
    color: #eee;
}

.nav-item{
	padding-left: 15px;
}


.col-sm-6 {
	padding: 10px;
}


.navbar-custom .navbar-toggler {
    border-color: #1fe8b6;
}

.navbar-toggler-icon{
    padding-top: 0.25rem;
    color: #1fe8b6;
}

.navbar-custom .navbar-toggler .navbar-toggler-icon:hover{
    color: #eee;
    border-color: #eee;
}

.navbar-custom {
    background-color:#272838;
}


.navbar-custom .navbar-nav .nav-link {
    color: #1fe8b6;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link{
    color: #eee;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom .dropdown-menu {
    background-color: #272838;
}

.navbar-custom .dropdown-item {
    color: #1fe8b6;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #272838;
}


.active-nav .fa-home{
    color: #eee;
    font-size: 1.5rem;
}

.fa-home{
    font-size: 1.5rem;
}

a#navbarDropdownMenuLink.nav-link.dropdown-toggle.active-nav{
    color: #eee;
}

.navbar-custom .navbar-nav a.nav-link.active-nav{
    color: #eee;  
}

/* nav style */

/* header style */
 .card-header{
    background-color: #272838;
    color: #1fe8b6;
 }
/* nav style */

footer.footer{
	background-color:#eee;
	border-radius: .3rem;
	text-align: center;
	padding: 10px 10px;
}

.fab , .fas.fa-at{
	color: #272838;
  	margin: 5px 2px;
}

.fas .fa-at .fa-2x .fa-linkedin .fa-github{
    color: #272838;
  	margin: 5px 2px;
}
.fa-globe{
    margin-right: 0.5rem;
    color: #eee;
}
.fab:hover , .fas.fa-at:hover {
    opacity: 0.45;
}

img.maxtemp, 
img.cloudiness,
img.humidity,
img.windspeed{
    border: 2px solid #272838;
    padding: 15px;
}

.footer p{
    color: #272838;
}
